#ImagemChile {
    text-align: center;
}

h1 {
    text-align: center;
}

body {
    background-color: rgb(240, 229, 215);
    margin: 0 60px 40px 50px;
}

nav {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
    background-color: azure;
    padding: 16px;
    border: 20px;
}

a {
    text-decoration: none;
    color: rgb(9, 8, 8);
}

img {
    width: 400px;
    padding: 30px;
}

footer {
    display: flex;
    justify-content: space-between;
}

p {
    text-align: justify;
    padding: 16 40 16 30;
}